*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ececec;
  /* background: linear-gradient(to bottom right, #8a2387, #e94057, #f27121); */
  /* background: linear-gradient(to bottom, #8E2DE2, #4A00E0); */
  /* background: linear-gradient(to right, #FC466B, #3F5EFB); */
  /* background: linear-gradient(to bottom right, #00c8ef, #e605b2); */
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%); */
  /* background: radial-gradient(circle, #FDB813, #8B4C9B); */

  /* background: linear-gradient(to bottom, #2980B9, #6DD5FA, #FFFFFF); */
  color: #222;
}





.read-me-btn {
  background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change mouse cursor on hover */
  transition-duration: 0.4s; /* Add a transition effect */
  margin-top: 20px; /* Add 20 pixels of margin on top */
}
/* 


/* Responsive styles for App.js */

/* For screens smaller than 768px 
@media (max-width: 767px) {
  .projectlist {
    display: flex;
    flex-direction: column;
  }

