.NavbarItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 10px 18px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 55px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to right, #3257a1, #101011);
    padding-bottom: 10px;
    z-index: 250;
}

.logo .img-logo{

    justify-content: start;
    cursor: pointer;
   
}

.nav-menu{

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap:10px;
    list-style:none;
    align-items: center;
    text-align: center;
    justify-content: end;
   

}

.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 0.4rem 1rem;
    white-space: nowrap;
    
}

.nav-links:hover{
    background: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}


.fa-bars .fa-times{
    color: rgb(249, 239, 239);
}
.menu-icons{
    display:none

}

.nav-links-mobile{

    padding: 0.6rem 1rem;
    white-space: nowrap;
    background-color: #fafafa;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color:#222;

}

@media screen and (max-width:850px) {
    .NavbarItems{
        z-index: 99;
    }

    .nav-menu{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        background: rgb(255,255,255,.25);
        box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
        backdrop-filter: blur(4px) ;
        border-radius: 13px;
        width:100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;

    }

    .nav-menu.active{
        left:0%;
    }

    
    .nav-links{
        display: block;
        widows: 100%;
        padding: .5rem 0;
        color: #222;
    }

    .nav-links:hover{
        background:linear-gradient(to right, #3257a1, #101011);
        backdrop-filter: blur(20px);
        border-radius: 4px;
        color: #fafafa;
    }
    .menu-icons{
        display:block
    
    }

    .nav-links-mobile{

        padding: 0.5rem 1rem;
        white-space: nowrap;
        background-color: #fafafa;
        border-radius: 3px;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        color:#222;
    
    }
    
    
}

.fas{
    color: #fff;
}